/*fondo*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #6a6b6a, #191414);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*content-principal*/
.player-container {
  background-color: #121212;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

/*Imagen del álbum*/
.album-art img {
  width: 100%;
  border-radius: 15px;
}

/*Info de la canción */
.song-info {
  margin: 15px 0;
}
.song-info h2 {
  font-size: 1.2rem;
  margin: 5px 0;
}
.song-info p {
  font-size: 0.9rem;
  color: #b3b3b3;
}

/*barra de progreso */
.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 15px 0;
}
.progress-bar {
  flex: 1;
  height: 5px;
  background: #404040;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}
.progress {
  width: 40%;
  height: 100%;
  background: #1db954;
}

/*controles */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.control-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}
.control-btn:hover {
  transform: scale(1.2);
  color: #1db954;
}
.play-btn {
  font-size: 2rem;
}
